extends layout

block content
  h1= title
  if bookInstances && bookInstances.length
    ul
      each val in bookInstances
        li
          | #{val.title} : #{val.imprint} - 
          if val.status == 'Available'
            span.text-success #{val.status}
          else if val.status == 'Maintenance'
            span.text-danger #{val.status}
          else
            span.text-warning #{val.status}
  else
    p There are no book instances to display.
